<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/quienessomos_style.css'%}">
    <title>Document</title>

    <ul class="menu">
        <li><a href="{% url 'iniciosesion'%}">Inicio de sesion </a> </li>
        <li><a href="{% url 'register'%}">Crear cuenta </a> </li>
        <li><a href="{% url 'inicioadm'%}">Inicio como administrador </a> </li>
        <li><a href="{% url 'home'%}">HOME</a> </li>

    </ul>

</head>

<body>

    <div class="main">
        <div class="centered">

            <div class="desktop">
                <h1 size="3">Plantitas</h1>
                <h1 size="2">¿Quienes somos?</h1>
                <h1 size="1">
                    Somos vecinos de una comunidad que a comenzado a realizar la venta de productos para jardinería como
                    maceteros, tierra de hojas, flores y arbustos, todo esto para ayudar a una fundación sin fines de
                    lucro</h1>


            </div>
            <div class="foto">
                <img src="img/hortensias.jpg" style="width:200px" alt="">
            </div>
            <div class="foto">
                <img src="img/girasol.jpg" style="width:200px" alt="">
            </div>
            <div class="foto">
                <img src="img/dalia.jpg" style="width:200px" alt="">
            </div>
        </div>

        <div class="footer">
            <p>© 2022 Comunidad Jardinera | Todos los derechos reservados.</p>
            <p><i class="bi bi-geo-alt"></i> Avenida Siempreviva </p>
            <p><i class="bi bi-telephone"></i> (41) 226 4453</p>
            <p><i class="bi bi-envelope"></i> Plantitas@gmail.com</p>
        </div>

    </div>

</body>


</html>