*{
    overflow-x: hidden;
  }
  body{
    margin: 0;
    padding: 0;
    background: url(img/fondo2.jpg);  
    background-size: cover;
  }
  
  .footer{
    background-color:rgb(155, 151, 151);
    width: 100%;
    height: 75px;
    bottom:0;
    position: fixed;
    text-align: center;
  }
  
  
  
  .main {
    width: 99%;
    text-align: center;
  }
  
  .menu{
    list-style:none;
    padding: 0;
    background:chartreuse; ;
    width:100%;
    max-width: 1900px;
    margin: auto;
  }
  
  .menu li a{
    text-decoration: none;
    color: rgb(3, 21, 24);
    padding: 20px;
    display: block;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  .menu li a:hover{
    background: #ef8354; ;
  
  }
  
  
  
  .foto1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .foto {
    margin: 10px 20px;
    
    width: 50px;
    height: auto;
  }
  
  .foto {
    
    margin: 10px 160px;
    opacity: .8;
    transition: .9;
    width: 500px;
    height: auto;
  }
  
  /**Movil**/
  
  @media (min-width: 400px) and (max-width: 767px) {
    
    .centered {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
  }
  
  
  /**Tablet**/
  
  @media (min-width: 768px) and (max-width: 990px) {
    .centered {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
  }
  
  
  /**Escritorio**/
  
  @media (min-width: 991px) {
    .centered {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }
  }
  body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
  
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  
  
  * {
      margin:0;
      padding:0;
      font:12pt Arial;
  }
  
  
  
  
  .field {
    display:flex;
    position:realtive;
    margin:5em auto;
    width:60%;
    flex-direction:row;
    box-shadow:
     1px 1px 0 rgb(50, 176, 21),
     2px 2px 0 rgb(92, 220, 12),
     3px 3px 0 rgb(32, 224, 36),
     4px 4px 0 rgb(51, 224, 38),
     5px 5px 0 rgb(12, 232, 19),
     6px 6px 0 rgb(41, 239, 6),
     7px 7px 0 rgb(16, 235, 4)
    ;
  }
  
  .field>input[type=text],
  .field>button {
    display:block;
    font:1.2em 'Montserrat Alternates';
  }
  
  .field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid rgb(36, 216, 20);
  }
  
  .field>button {
    padding:0.6em 0.8em;
    background-color:rgb(30, 243, 84);
    color:white;
    border:none;
  }
  /* Three columns side by side */
  .column {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 50px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(241, 155, 8, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(23, 23, 23);
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(16, 226, 30);
    text-align: center;
    cursor: pointer;
    width: 50%;
  }
  
  .button:hover {
    background-color: rgb(227, 156, 15);
  }
  .pro{
    display: flex;
    justify-content: center;
  }
  
  
  
  .padding {
    padding: 7rem !important
  }
  
  .user-card-full {
    overflow: hidden;
  }
  
  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
  }
  
  .m-r-0 {
    margin-right: 0px;
  }
  
  .m-l-0 {
    margin-left: 0px;
  }
  
  .user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
  }
  
  .bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
  }
  
  .user-profile {
    padding: 20px 0;
  }
  
  .card-block {
    padding: 1.25rem;
  }
  
  .m-b-25 {
    margin-bottom: 25px;
  }
  
  .img-radius {
    border-radius: 5px;
  }
  
  
  
  h6 {
    font-size: 14px;
  }
  
  .card .card-block p {
    line-height: 25px;
  }
  
  @media only screen and (min-width: 1400px){
  p {
    font-size: 14px;
  }
  }
  
  .card-block {
    padding: 2rem;
  }
  
  .b-b-default {
    border-bottom: 1px solid #0f0e0e;
  }
  
  .m-b-20 {
    margin-bottom: 20px;
  }
  
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  
  .card .card-block p {
    line-height: 25px;
  }
  
  .m-b-10 {
    margin-bottom: 10px;
  }
  
  .text-muted {
    color: #0a75e1 !important;
  }
  
  .b-b-default {
    border-bottom: 1px solid #146126;
  }
  
  .f-w-600 {
    font-weight: 600;
  }
  
  .m-b-20 {
    margin-bottom: 20px;
  }
  
  .m-t-40 {
    margin-top: 20px;
  }
  
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  
  .m-b-10 {
    margin-bottom: 10px;
  }
  
  .m-t-40 {
    margin-top: 20px;
  }
  
  .user-card-full .social-link li {
    display: inline-block;
  }
  
  .user-card-full .social-link li a {
    font-size: 200px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  
  
  
  
  .card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  border-radius: 29px
  }
  
  .pay {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin-top: 5px
  }
  
  .amount {
  background-color: #f3f3fd;
  border-radius: 8px
  }
  
  .inner {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 19px;
  padding-right: 19px
  }
  
  .dollar {
  color: #a49ecc;
  font-size: 20px;
  font-weight: 500
  }
  
  .total {
  font-size: 20px;
  font-weight: 500;
  color: #6458ab
  }
  
  .labeltxt {
  font-size: 13px;
  color: #adb5bd;
  font-weight: 500;
  margin-top: 5px
  }
  
  .image {
  position: relative;
  top: 39px;
  right: 13px
  }
  
  .form-control {
  border: 2px solid #c4c2d0;
  border-radius: 7px
  }
  
  .inputtxt {
  color: #000 !important;
  font-weight: bold;
  font-size: 14px;
  padding-top: 21px;
  padding-bottom: 21px
  }
  
  .exptxt {
  color: #adb5bd;
  font-size: 13px;
  font-weight: 500
  }
  
  .cvvtxt {
  color: #adb5bd;
  font-size: 13px;
  font-weight: 500
  }
  
  .expiry {
  padding-top: 21px;
  padding-bottom: 21px;
  width: 120px;
  font-size: 14px;
  font-weight: bold
  }
  
  .cvv {
  padding-top: 21px;
  padding-bottom: 21px;
  width: 120px
  }
  
  .cancel {
  background-color: #fff;
  color: #adb5bd;
  font-size: 13px;
  font-weight: 500;
  border: none;
  position: relative;
  top: 24px
  }
  
  .cancel:hover {
  background-color: #fff;
  color: #adb5bd;
  font-size: 13px;
  font-weight: 500;
  border: none
  }
  
  .cancel:focus {
  background-color: #fff;
  color: #adb5bd;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #adb5bd
  }
  
  .payment {
  font-weight: 600;
  font-size: 14px;
  background-color: #169808;
  border: none;
  width: 150px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 11px
  }
  
  .payment:hover {
  font-weight: 600;
  font-size: 14px;
  background-color: #db1515;
  border: none;
  width: 150px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 11px
  }
  
  .payment:focus {
  background-color: #d44c08
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  
  
  .pic {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  .table thead {
    background-color: #21cf95;
  }
  
  .table thead th {
    padding: 30px;
    font-size: 14px;
    color: white;
  }
  
  .table tbody td input[type="checkbox"] {
    appearance: initial;
    width: 20px;
    height: 20px;
    background-color: rgb(177, 21, 21);
    position: relative;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .container .table-wrap {
  
    margin: 20px auto;
    overflow-x: auto
  }
  
  .container .table-wrap::-webkit-scrollbar {
    height: 5px;
  }
  
  .container .table-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: linear-gradient(to right, #5D7ECD, #0C91E6);
  }
  
  .table>:not(caption)>*>* {
    padding: 2rem 0.5rem;
  }
  
  .input {
    width: 30px;
    height: 30px;
    color: black;
    font-weight: 600;
    outline: none;
    padding: 8px;
  }
  
  ::placeholder {
    color: black;
    font-weight: 600;
  }
  
  .table tbody td input[type="checkbox"]:after {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f00c";
    color: #fff;
    font-size: 15px;
    display: none
  }
  
  .table tbody td input[type="checkbox"]:checked,
  .table tbody td input[type="checkbox"]:checked:hover {
    background-color: #21cf95;
  }
  
  .table tbody td input[type="checkbox"]:checked::after {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .table tbody td input[type="checkbox"]:hover {
    background-color: #ddd;
  }
  
  .table tbody td {
    padding: 30px;
    margin: 0;
    font-size: 14.5px;
    font-weight: 600;
  }
  
  .table tbody td .fa-times {
    color: #D32F2F;
  }
  
  
  .text-muted {
    font-size: 12.5px;
  }
  
  .table tbody tr td:nth-of-type(3) {
    min-width: 320px;
  }
  
  @media(min-width: 992px) {
    .container .table-wrap {
        overflow: hidden;
    }
  }
  * {box-sizing: border-box}
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  