<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plantitas</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/css/quienessomos_style.css' %}">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <ul class="menu">
    <li><a href="index.html">Home </a> </li>
    <li><a href="perfil.html">Perfil </a> </li>
    <li><a href="carrito.html">Carrito </a> </li>
    <li><a href="history.html">Historial </a> </li>
    <li><a href="quienessomos.html">¿Quienes somos? </a> </li>
    <li><a href="#" class="fa fa-facebook"></a></li>
    <li><a href="#" class="fa fa-twitter"></a></li>
  </ul>
  <div class="field" id="searchform">
    <input type="text" id="searchterm" placeholder="Que estas buscando?" />
    <button type="button" id="search">Buscar!</button>
  </div>

  <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <div></div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{% static 'app/img/girasol.jpg' %}" alt="Jane"
          style="width:100%">
        <div class="container">
          <h2>Girasol</h2>
          <p class="title">Valor: $15.999</p>
          <p><button class="button">Añadir</button></p>
          <button onclick="document.location='verproducto.html'" class="button">Ver producto</button>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="{% static 'app/img/siete.jpg.jpg' %}"
          alt="Mike" style="width:100%">
        <div class="container">
          <h2>Rosa</h2>
          <p class="title">Valor : $9.990</p>
          <p><button class="button">Añadir</button></p>
          <button onclick="document.location='verproducto.html'" class="button">Ver producto</button>
          
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="{% static 'app/img/dos.jpg.jpg' %}"
          alt="John" style="width:100%">
        <div class="container">
          <h2>Amapola</h2>
          <p class="title">Valor : $13.990</p>
          <p><button class="button">Añadir</button></p>
          <button onclick="document.location='verproducto.html'" class="button">Ver producto</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="{% static 'app/img/dalia.jpg' %}"
          alt="Mike" style="width:100%">
        <div class="container">
          <h2>Clavel</h2>
          <p class="title">Valor : $20.000</p>
          <p><button class="button">Añadir</button></p>
          <button onclick="document.location='verproducto.html'" class="button">Ver producto</button>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="{% static 'app/img/hortensias.jpg' %}"
          alt="John" style="width:100%">
        <div class="container">
          <h2>Orquideas</h2>
          <p class="title">Valor : $18.990</p>
          <p><button class="button">Añadir</button></p>
          <button onclick="document.location='verproducto.html'" class="button">Ver producto</button>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img 
          src="{% static 'app/img/diez.jpg.jpg' %}"
          alt="John"
          style="width:100%">
        <div class="container">
          <h2>Girasol gigante</h2>
          <p class="title">Valor : $18.990</p>
          <p><button class="button">Añadir</button></p>
          <p><button class="button">Ver producto</button></p>
        </div>
      </div>
    </div>
  </div>






  <footer class="bg-light text-center text-lg-start footer-style">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>© 2022 Comunidad Jardinera | Todos los derechos reservados.</p>
      <p><i class="bi bi-geo-alt"></i> Avenida Siempreviva </p>
      <p><i class="bi bi-telephone"></i> (41) 226 4453</p>
      <p><i class="bi bi-envelope"></i> Plantitas@gmail.com</p>
    </div>
  </footer>
</body>


</html>