<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plantitas</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/css/quienessomos_style.css' %}">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <ul class="menu">
    <li><a href="index.html">Home </a> </li>
    <li><a href="perfil.html">Perfil </a> </li>
    <li><a href="carrito.html">Carrito </a> </li>
    <li><a href="history.html">Historial</a> </li>
    <li><a href="quienessomos.html">¿Quienes somos? </a> </li>
    <li><a href="#" class="fa fa-facebook"></a></li>
    <li><a href="#" class="fa fa-twitter"></a></li>
  </ul>
  <button onclick="document.location='productos.html'" class="btn btn-danger float-right">VOLVER ATRAS</button>
  <br>
  <br>
  <br>
  <br>
  <div class="row pro">
    <div class="column">
      <div class="card">
        <img src="https://s1.eestatic.com/2021/04/29/actualidad/577453913_183658433_1706x960.jpg" alt="John"
          style="width:150%">
        <div class="container">
          <br>
          <h4> <span class="badge bg-info">New</span></h4>
          <h1> <span class="badge bg-success">Girasol</span></h1>
          <h4> <span class="badge bg-secondary">Precio : $18.990</span></h4>
          <h4> <span class="badge bg-secondary">Stock : 100</span></h4>
          <h4> <span class="badge bg-secondary">Tipo de producto : Planta</span></h4>
          <br>
          <button onclick="document.location='carrito.html'" class="button">Agregar al carrito</button>
          <button onclick="document.location='pagar.html'" class="button">Comprar ahora</button>


        </div>


      </div>
    </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <footer class="bg-light text-center text-lg-start footer-style">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>© 2022 Comunidad Jardinera | Todos los derechos reservados.</p>
      <p><i class="bi bi-geo-alt"></i> Avenida Siempreviva </p>
      <p><i class="bi bi-telephone"></i> (41) 226 4453</p>
      <p><i class="bi bi-envelope"></i> Plantitas@gmail.com</p>
    </div>
  </footer>





</body>


</html>